datasets/linemod/Linemod_preprocessed
datasets/ycb/YCB_Video_Dataset
*.zip
*__pycache__
experiments/logs/*
*.pyc
lib/knn/knn_pytorch/__pycache__/*
__init__.*
*.pth
YCB_Video_toolbox
.idea
.vscode
lightning_logs
datasets/customCAD/CAD Dataset Generator 2018U/Capture/*
datasets/customCAD/dataset_processed/*
datasets/custom/custom_preprocessed
*.ply
ckpt/
tb_logs/
